<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Research" %} active{% endif %}">
        <a href="{{ site.baseurl }}/">Research</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "About Wendy Gu" %} active{% endif %}">
        <a href="{{ site.baseurl }}/about">About Wendy Gu</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Publications" %} active{% endif %}">
        <a href="{{ site.baseurl }}/publications">Publications</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Open Positions" %} active{% endif %}">
        <a href="{{ site.baseurl }}/open-positions">Open Positions</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Art of Science" %} active{% endif %}">
        <a href="{{ site.baseurl }}/art-of-science">Art of Science</a>
      </li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
